#
# Sample scripted installation file
#

# Accept the VMware End User License Agreement
vmaccepteula

# Set the root password for the DCUI and Tech Support Mode
rootpw myp@ssw0rd

# Install on the first local disk available on machine
install --firstdisk --overwritevmfs

# Set the network to DHCP on the first network adapter
network --bootproto=dhcp --device=vmnic0 --vlanid=130
#network --bootproto=static --device=vmnic0 --ip=192.168.50.233 --gateway=192.168.50.254 --nameserver=192.168.10.230 --netmask=255.255.255.0

# A sample post-install script
#%post --interpreter=python --ignorefailure=true
#import time
#stampFile = open('/finished.stamp', mode='w')
#stampFile.write( time.asctime() )

#Reboot after install?
reboot --noeject
